{% extends 'base.html' %}
{% block content %}

<h3>Foods</h3>
<ul>
    {% for food in food_list %}
    <li><a href="{% url 'update-food' food.id %}">{{ food.name }}</a> (<a href="{% url 'delete-food' food.id %}">delete</a>)</li>
    </li>
    {% endfor %}
</ul>

{% endblock content %}
