{% extends 'base.html' %}
{% block content %}

<a href="{% url 'create-family' %}">Add family</a>
<a href="{% url 'create-food' %}">Add food</a>
<a href="{% url 'create-person' %}">Add person</a>

<h3>Families</h3>
<ul>
    {% for family in family_list %}
    <li><a href="{% url 'update-family' family.id %}">{{ family.name }}</a></li>
    <ul>
        {% for person in family.person_set.all %}
        <li><a href="{% url 'update-person' person.id %}">{{ person.name }}</a></li>
        {% endfor %}
    </ul>
    </li>
    {% endfor %}
</ul>

<h3>Standalone persons</h3>
<ul>
    {% for person in persons_without_family %}
    <li><a href="{% url 'update-person' person.id %}">{{ person.name }}</a></li>
    {% endfor %}
</ul>

{% endblock content %}
